.notes, .reminders {
  background-color: #e8e8e8;
  padding: 65 0 20px;
  /* height: 100%; */
}
.trash, .archive {
  background-color: #e8e8e8;
  padding-top: 80px;
  height: 100%;
}
.navbar {
  background-color: #FB0;
  position: fixed;
}
#navbar-buttons {
  margin: 0 6px;
  color: #715400;
}
.profileCard {
  width: 300px;
  margin-top: 65px;
  margin-left: 1000px;
  position: absolute;
}
md-sidenav {
  background-color: #e8e8e8;
  width: 280px;
  margin-top: 64px;
  position: fixed;
  font-family: comic;
}
.sidenav-list {
  padding-left: 15px;
  border-bottom: 1px solid #ddd;
}
.sidenav-items {
  padding : 10 0px;
  font-size: 13px;
  font-family: sans-serif;
}
#sidenav-item-name {
  padding-left: 12px;
  /* line-height: 40px; */
}
.sidenav-items .material-icons {
  color: #6a6a6a;
}
.note-input {
  border: none;
}
.note-input[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555;
}

[placeholder]:empty:focus::before {
    content: "";
}
.note-card {
  width: 240px;
}
.notes-new {
  margin: 32 250 16;
}
.createNote-card {
  margin: 32 340 20px;
  width: 600px;
}
.note-card-actions {
  margin: 4 0px;
}
.note-card-actions noteactions .md-icon-button {
  margin: 0px;
  padding: 0 0px;
  width: 36px;
  height: 36px;
}
#color-item {
  border: 1px solid;
  border-radius: 50%;
  border-color: #00000029;
  width: 27px;
  height: 27px;
}
