<md-dialog style="border-radius: 2px;">
  <md-card class="dialog-card" style="margin: 0px; background-color: {{x.color}}">
    <md-card-title style="padding: 10px 16px 16px;">
      <md-card-title-text>
        <div class="md-headline" contenteditable ng-model="x.title">
          <strong>{{x.title}}</strong>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div class="note-input" contenteditable ng-model="x.description">
        {{x.description}}
      </div>
    </md-card-content>
    <div layout="row" layout-align="space-between center">
      <noteactions></noteactions>
      <div>
        <md-button class="md-icon-button" ng-disabled="true"><i class="material-icons">undo</i></md-button>
        <md-button class="md-icon-button" ng-disabled="true"><i class="material-icons">redo</i></md-button>
      </div>
      <div>
        <md-button ng-click="closeDialog()">CLOSE</md-button>
      </div>
    </div>
  </md-card>
</md-dialog>
