<html>
<head>
</head>
<body>
  <!-- <div class="topbar">
    <h1>LOGIN</h1>
  </div> -->

  <div class="container" flex-xs flex-gt-xs="300" >
    <md-card>
      <md-card-content>
        <div class="card-icon">
          <center>
            <img ng-src="assets/images/Google-Keep.ico" width="25%">
          </center>
        </div>
      <div class="form-group">
        <form name="loginForm" method="post" ng-submit="validate()">
          <div class="loginForm-input">
            <div>
              <md-input-container class="flex">
                <label for="email">Email ID</label>
                <input type="email"  name="email" ng-model="email" required></input>
              </md-input-container>
            </div>
            <div>
              <md-input-container class="flex">
                <label for="password">Password</label>
                <input type="password" name="password" ng-model="password" required></input>
              </md-input-container>
            </div>
            <div>
              <a class="loginRegister" ng-click="gotoForgot()">Forgot password?</a>
            </div>
          </div>
          <div class="form-actions" layout="row" layout-align="space-between center">
            <div><a class="loginRegister" ng-click="gotoRegister()">Create account</a></div>
            <div><md-button type="submit" class="form-button" ng-disabled="form.$invalid">Login</md-button></div>
          </div>
        </form>
      </div>
    </md-card-content>
    </md-card>

  </div>

</body>
</html>
