<div>
  <md-button class="md-icon-button"><i class="material-icons">touch_app</i></md-button>
  <md-button class="md-icon-button"><i class="material-icons">person_add</i></md-button>
  <md-button class="md-icon-button"><i class="material-icons">color_lens</i></md-button>
  <md-button class="md-icon-button"><i class="material-icons">image</i></md-button>
  <md-button class="md-icon-button"><i class="material-icons">archive</i></md-button>
  <md-button class="md-icon-button"><i class="material-icons">more_vert</i></md-button>
</div>
