<div layout="column" ng-cloak>
  <section layout="row">
    <md-sidenav  class="md-sidenav-left" md-component-id="left" md-disable-backdrop>
      <div class="">
        <ul class="sidenav-list">
          <li class="sidenav-items" ng-click="gotoNotes()">
            <div class="sidenav">
              <img src="assets/images/note.svg" />
              <span id="sidenav-item-name">Notes</span>
            </div>
          </li>
          <li class="sidenav-items" ng-click="gotoReminders()">
            <div class="sidenav">
              <i class="material-icons">touch_app</i>
              <span id="sidenav-item-name">Reminders</span>
            </div>
          </li>
        </ul>
        <ul class="sidenav-list">
          <div class="sidenav-items">
            Labels
          </div>
          <li class="sidenav-items">
            <div class="sidenav">
              <i class="material-icons">add</i>
              <span id="sidenav-item-name">Create new label</span>
            </div>
          </li>
        </ul>
        <ul class="sidenav-list">
          <li class="sidenav-items" ng-click="gotoArchive()">
            <div class="sidenav">
              <i class="material-icons">archive</i>
              <span id="sidenav-item-name">Archive</span>
            </div>
          </li>
          <li class="sidenav-items" ng-click="gotoTrash()">
            <div class="sidenav">
            <i class="material-icons">delete</i>
            <span id="sidenav-item-name">Trash</span>
          </div>
        </li>
      </ul>
    </div>

  </md-sidenav>
</section>
</div>
