<div layout="column" ng-cloak>
  <section layout="row">
    <md-sidenav  class="md-sidenav-left" md-component-id="left" md-disable-backdrop>
      <div class="">
        <ul class="sidenav-list">
          <li class="sidenav-items" ng-click="gotoNotes()">
            <md-button class="md-icon-button"><img src="assets/images/note.svg" /></md-button>
            <span id="sidenav-item-name">Notes</span>
          </li>
          <li class="sidenav-items" ng-click="gotoReminders()">
            <md-button class="md-icon-button"><i class="material-icons">touch_app</i></md-button>
            <span id="sidenav-item-name">Reminders</span>
          </li>
        </ul>
        <ul class="sidenav-list">
          <div class="sidenav-items" style="padding-left: 15px;" layout="row" layout-align="space-between center">
            Labels
            <md-button style="font-size: 13px;" ng-click="showLabels($event)"><strong>edit</strong></md-button>
          </div>
          <li class="sidenav-items" ng-repeat="l in labels" ng-click="">
            <md-button class="md-icon-button"><i class="material-icons">label</i></md-button>
            <span id="sidenav-item-name">{{l.name}}</span>
          </li>
          <li class="sidenav-items" ng-click="showLabels($event)">
            <md-button class="md-icon-button"><i class="material-icons">add</i></md-button>
            <span id="sidenav-item-name">Create new label</span>
          </li>
        </ul>
        <ul class="sidenav-list">
          <li class="sidenav-items" ng-click="gotoArchive()">
            <md-button class="md-icon-button"><i class="material-icons">archive</i></md-button>
            <span id="sidenav-item-name">Archive</span>
          </li>
          <li class="sidenav-items" ng-click="gotoTrash()">
            <md-button class="md-icon-button"><i class="material-icons">delete</i></md-button>
            <span id="sidenav-item-name">Trash</span>
          </li>
        </ul>
      </div>
    </md-sidenav>
  </section>
</div>
